<div class="container" ng-controller="HomeController as homeCtrl">
    <div ng-include="app/directives/avatar/filled.avatar.directive.tmpl.html"></div>
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="About">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab One</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    <div class="list-group col-xs-6 col-xs-offset-3" style="margin-top: 10px">
                        <a href="#" class="list-group-item" ng-repeat="item in homeCtrl.roomAll">{{item.name}}</a>
                    </div>
                    <div class="col-xs-12">
                        <input type="button" value="Create new Room" class="btn btn-success center-block" ng-click="homeCtrl.createNewRoom()">
                    </div>
                </md-content>
            </md-tab>
            <md-tab ng-repeat="item in homeCtrl.room" label="{{item.name}}">
                <md-content class="md-padding">
                    <div layout="row" layout-wrap>
                        <md-content layout="column" flex="80" flex-sm="100">
                            <md-content style="height: 60vh;">
                                <md-list scroll="homeCtrl.messages">
                                    <md-subheader class="md-info">Messages in room {{ item.name }}</md-subheader>
                                    <message ng-repeat="message in item.messages track by message._id" message="message"
                                             author="homeCtrl.allusers[message.authorId]"
                                             ng-class="{ 'repeated-author' : $index>0 && message.authorId == item.messages[$index-1].authorId}"></message>
                                </md-list>
                            </md-content>
                            <md-content layout-padding layout="column">
                                <md-input-container class="md-accent">
                                    <label>New Message</label>
                                    <input ng-enter="homeCtrl.createMessage(item.roomId)" ng-model="homeCtrl.newMessage" md-maxlength="350"/>
                                </md-input-container>
                            </md-content>
                        </md-content>
                        <md-content class="side-nav room-users" hide-sm layout="column" flex="18">
                            <md-list layout-fill>
                                <md-subheader class="md-accent">Available users</md-subheader>
                                <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, contact) in item.users track by contact._id" ng-show="contact.username">
                                    <!--<avatar user="contact"></avatar>-->
                                    <div class="md-list-item-text compact">
                                        <h3>{{contact.fullname }}</h3>
                                        <p>@{{contact.username}}</p>
                                    </div>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

</div>
