<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!--Import css files-->
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/message.css">
    <link rel="stylesheet" href="../assets/css/reg.login.form.css">
    <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendors/css/angular-material.css">
    <!--Import js files-->
    <script src="../vendors/js/jquery-3.2.1.min.js"></script>
    <script src="../vendors/js/bootstrap.min.js"></script>
    <script src="../vendors/js/angular.min.js"></script>
    <script src="../vendors/js/angular-route.js"></script>
    <script src="../vendors/js/ngStorage.min.js"></script>
    <script src="../vendors/js/angular-ui-router.min.js"></script>
    <script src="../vendors/js/angular-aria.min.js"></script>
    <script src="../vendors/js/angular-animate.min.js"></script>
    <script src="../vendors/js/angular-material.js"></script>
    <script src="../vendors/js/socket.io.js"></script>
    <!--Import CSS Less Javascript files and Less files-->
    <link rel="stylesheet/less" href="../assets/less/main.less">
    <script src="../vendors/js/less.min.js"></script>
    <!--Angular main config-->
    <script src="../app.modules.js"></script>
    <script src="../app.config.js"></script>
    <script src="../app.run.js"></script>
    <!--Angular Directives-->
    <script src="../directives/checkbox.directive.js"></script>
    <script src="../directives/enter.directive.js"></script>
    <script src="../directives/scroll.directive.js"></script>
    <script src="../directives/avatar/avatar.directive.js"></script>
    <script src="../directives/message/message.directive.js"></script>
    <!--Angular controllers-->
    <script src="../controller/main.controller.js"></script>
    <script src="../controller/user.auth.controller.js"></script>
    <script src="../controller/home.controller.js"></script>
    <script src="../controller/profile.controller.js"></script>
    <!--Angular Services-->
    <script src="../service/page.refresh.service.js"></script>
    <script src="../service/auth.service.js"></script>
    <script src="../service/user.info.service.js"></script>
    <!--Base URL-->
    <base href="/Chat-Head-Webapp/app/">
</head>


<body ng-app="Chat-Head-App" ng-controller="MainController">
    <nav class="navbar navbar-default" ng-show="isAuthanticated">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="assets/img/chat_head_logo_banner.png" style="width: 190px; margin-top: -25px"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="navItem"><a href="" ng-click="">Test</a></li>
                    <li class="navItem"><a href="" ng-click="">Test</a></li>
                    <li class="dropdown navItem">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="">Test</a></li>
                            <li><a href="" ng-click="">Test</a></li>
                            <li><a href="" data-target="#broadcastMessage" data-toggle="modal">Test</a></li>
                        </ul>
                    </li>
                    <li class="navItem"><a href="" ng-click="">Test</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navItem">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/img/profile/default_profile_pic.png" style="width: 30px; margin: -10px 10px -10px 21px; right: 0">
                            {{first_name}} {{last_name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="">Test</a></li>
                            <li><a href="" ng-click="">Test</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" ng-click="logOutUser()">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view></div>

    <footer class="footer container-fluid">
        <div class="col-xs-12" style="margin-top: 40px">
            <div class="col-xs-4">
                <img src="assets/img/chat_head_logo.png" style="width: 100px; margin-top: -15px">
                <p class="footer-links">
                    <a href="" ng-click="showView('intent')">Intent</a>·
                    <a href="" ng-click="showView('entity')">Entity</a>·
                    <a href="" ng-click="showView('training')">Training</a>·
                    <a href="" ng-click="showView('settings')">Settings</a>·
                    <a href="">Faq</a>·
                    <a href="">Contact</a>
                </p>
                <p class="footer-company-name">Company Name &copy; 2015</p>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-12">
                    <div class="col-lg-4">
                        <img src="assets/img/footer/location.png" style="width: 30px; float: right"></a>
                    </div>
                    <div class="col-lg-8">
                        <p ><span>21 Revolution Street</span> <br>Paris, France</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-lg-4">
                        <img src="assets/img/footer/phone.png" style="width: 30px; float: right"></a>
                    </div>
                    <div class="col-lg-8">
                        <p>+1 555 123456</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <p class="footer-company-about">
                    <span>About the company</span><br>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
            </div>
        </div>
    </footer>
</body>
</html>