<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />
    <!--Import css files-->
    <link rel="stylesheet" href="vendors/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/reg.login.form.css">
    <!--Import js files-->
    <script src="vendors/js/jquery-3.2.1.min.js"></script>
    <script src="vendors/js/bootstrap.min.js"></script>
    <script src="vendors/js/angular.min.js"></script>
    <script src="vendors/js/angular-route.js"></script>
    <script src="vendors/js/ngStorage.min.js"></script>
    <script src="vendors/js/angular-ui-router.min.js"></script>
    <!--Import CSS Less Javascript files and Less files-->
    <link rel="stylesheet/less" href="assets/less/main.less">
    <script src="vendors/js/less.min.js"></script>
    <!--Angular main config-->
    <script src="app.modules.js"></script>
    <script src="app.config.js"></script>
    <script src="app.run.js"></script>
    <!--Angular controllers-->
    <script src="controller/main.controller.js"></script>
    <script src="controller/user.auth.controller.js"></script>
    <script src="controller/home.controller.js"></script>
    <!--Angular Services-->
    <script src="service/page.refresh.service.js"></script>
    <!--Angular Directives-->
    <script src="directives/checkbox.js"></script>
    <!--Base URL-->
    <base href="/">
</head>
<body ng-app="Chat-Head-App" ng-controller="MainController">
    <div ng-view></div>

    <!--<footer class="footer container-fluid">-->
        <!--<div class="col-xs-12" style="margin-top: 40px">-->
            <!--<div class="col-xs-4">-->
                <!--<img src="../app/assets/img/chat-bot-logo.png" style="width: 160px; margin-top: -15px">-->
                <!--<p class="footer-links">-->
                    <!--<a href="" ng-click="showView('intent')">Intent</a>·-->
                    <!--<a href="" ng-click="showView('entity')">Entity</a>·-->
                    <!--<a href="" ng-click="showView('training')">Training</a>·-->
                    <!--<a href="" ng-click="showView('settings')">Settings</a>·-->
                    <!--<a href="">Faq</a>·-->
                    <!--<a href="">Contact</a>-->
                <!--</p>-->
                <!--<p class="footer-company-name">Company Name &copy; 2015</p>-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="col-lg-4">-->
                        <!--<img src="../app/assets/img/location.png" style="width: 30px; float: right"></a>-->
                    <!--</div>-->
                    <!--<div class="col-lg-8">-->
                        <!--<p ><span>21 Revolution Street</span> <br>Paris, France</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xs-12">-->
                    <!--<div class="col-lg-4">-->
                        <!--<img src="../app/assets/img/phone.png" style="width: 30px; float: right"></a>-->
                    <!--</div>-->
                    <!--<div class="col-lg-8">-->
                        <!--<p>+1 555 123456</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-xs-4">-->
                <!--<p class="footer-company-about">-->
                    <!--<span>About the company</span><br>-->
                    <!--Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
</body>
</html>